<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Application</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
   Travel App
  </div>
  <div class ="holder">
    <p>Where are you going and what is the weather going to be like? Just enter the zipcode to your destination and your departure date and the forecasted max and min temperatures will be provided so you can plan appropriately!</p>
  </div>
  <div class ="holder zip">
    <label for="zip">Enter Zipcode here</label>
    <input type="text" id="zip" placeholder="enter zip code here">
  </div>
  <div class = "holder date"
  <div class ="holder start-date">
    <label for="zip">Enter Start Date</label>
    <input type="date" id="start-date">
  </div>
  
  
  <div class ="holder feel">
    <button id="generate" type = "submit"> Generate </button>
  </div>
  <div class ="holder feel">
    <button id="generate" type = "delete"> Delete </button>
  </div>
  <div class ="holder entry">
    <div class = "title">Your Travel Info:</div>
   <div id = "entryHolder">
   <div id = "city"></div>
   <div id = "max_temp"></div>
   <div id = "min_temp"></div>
   <div id= "picture"></div>

  </div>
  </div>
  </div>
<script>
   if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
</script>

</body>
</html>